/* Colors */

:root {
  --pink: #F78888;
  --blue: #5DA2D5;
  --light-blue: #90CCF4;
  --yellow: #F3D250;
  --white: #ECECEC;
}

/* Text */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 4.75rem;
  letter-spacing: .15rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: .1rem;
  text-transform: lowercase;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: lowercase;
}

.sub-header {



  letter-spacing: .075rem;
  text-transform: lowercase;
}

.form-label {
  font-weight: 400;
  letter-spacing: .05rem;
  text-transform: lowercase;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

ul {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style-type: none;
}

/* Navbar Section */

#navbar {
  background-color: var(--white);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: lowercase;
}

.nav-link-pointer {
  cursor: pointer;
}

/* Hero Section */

#hero-section {
  min-height: 100vh;
  background-color: var(--white);
}

.profile-pic {
  max-width:450px;
}

/* About Me Section */

#about-me {
  min-height: 100vh;
  background-color: var(--pink);
}


/* My Projects Section */

#my-projects {
  min-height: 100vh;
  background-color: var(--white);
}

#my-projects .card {
  border: none;
  background: var(--white);
}

/* Contact Me Section */

#contact-me {
  min-height: 90vh;
  background-color: var(--pink);
}

/* Footer Section */

#footer {
  height: 10vh;
  background-color: var(--pink);
}
