/* Page */

body {
  background-color: var(--beige);
}

/* Colors */

:root {
    --white: white;
    --beige: #FEFCF5;
    --grey: #706A61;
    --dark-blue: #3B576D;
    --orange: #E1854A;
    --light-orange: #E6A079;
    --light-blue: #7BBCCF;
    --mitzvah-blue: #82CBFF;
  ;
}

/* Text */

@font-face {
  font-family: 'sp-blunt-regular';
  src: url('../public/sp-blunt-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nayuki-regular';
  src: url('../public/NayukiRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--grey);
}

h1 {
  font-size: 4.6rem;
  line-height: 4.5rem;
  letter-spacing: .15rem;
  font-family: 'sp-blunt-regular';
  text-transform: uppercase;
  color: var(--grey);
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: .1rem;
  font-family: 'sp-blunt-regular';
  color: var(--orange);
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .1rem;
  font-family: 'sp-blunt-regular';
  text-transform: uppercase;
}

h4 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  font-family: 'sp-blunt-regular';
}

h5 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  font-family: 'sp-blunt-regular';
}

label {
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-family: 'sp-blunt-regular';
}

.sub-header {
  letter-spacing: .075rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .025rem;
  color: var(--grey);
}

ul {
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style-type: none;
  letter-spacing: .025rem;
}

a {
  color: black;

}

/* Icons */

.icon {
  width: 23px;
  height: 23px;
}

/* Navbar Section */

#navbar {
  background-color: var(--dark-blue);
  font-weight: 500;
  letter-spacing: .1rem;
  font-family: 'sp-blunt-regular';
  font-size: 1.15rem;
}

.nav-link {
  color: var(--beige);
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--orange)
}

.nav-link-pointer {
  cursor: pointer;
}

/* Hero Section */

#hero-section {
  min-height: 100vh;
  background-color: var(--beige);
}

.btn-hero {
  color: black;
  border-radius: 25px;
  background: var(--orange);
  border: 0px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  padding: 10px 0 10px 0;
}

@media (min-width: 768px) {
  .profile-pic {
    max-width: 450px;
  }
}

/* About Me Section */

#about-me {
  min-height: 100vh;
  background-color: var(--dark-blue);
}

#about-me .card {
  border: none;
  border-radius: 0px;
  transition: box-shadow 0.3s ease;
  color: var(--grey);
  background-color: var(--beige);
}

#about-me p {
  color: var(--beige)
}

#about-me h3 {
  color: var(--beige)
}

.bigger {
  font-size: 1.1rem;
}

/* My Projects Section */

#my-projects {
  min-height: 100vh;
  background-color: var(--beige);
}

#my-projects h3 {
  color: var(--dark-blue)
}

#my-projects h5 {
  color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
}

#my-projects .card {
  border: 1px solid var(--dark-blue);
  border-radius: 0px;
  background-color: var(--beige);
}

#my-projects p {
  color: var(--dark-blue);
}

.badge {
  font-weight: 400;
  border-radius: 25px;
  padding: 0.4em 0.6em;
  font-size: 0.8em;
  margin-top: .25rem;
  margin-bottom: .25rem;
  background-color: var(--dark-blue);
  color: var(--beige);
  }

.btn-projects {
  color: var(--white);
  border-radius: 0px;
  background: var(--orange);
  border: 0px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-projects:hover {
  background-color: var(--light-orange);
  color: var(--beige)
}

/* Contact Me Section */

.form-label {
    font-family: "Roboto", sans-serif;
    color: var(--beige);
  }

#contact-me {
  min-height: 90vh;
  background-color: var(--dark-blue);
}

#contact-me h3 {
  color: var(--beige)
}

.form-control:focus {
  border-color: var(--orange);
  box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

.btn-contact-me {
  color: var(--white);
  border-radius: 0px;
  background: var(--orange);
  border: 0px;
  font-weight: 500;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
  min-width: 8rem;
}

.btn-contact-me:hover {
  background-color: var(--light-orange);
  color: var(--white);
}

.custom-toast {
    color: var(--dark-blue);
    border-radius: 0;
    background: var(--beige);
    border:  solid var(--dark-blue) 2px;
    font-weight: 500;
  }

  .custom-input {
    border-radius: 6px;
    border: 2px solid var(--dark-blue);
    background-color: var(--beige);
    color: black;
  }

  .custom-input:focus {
    border-color: orange;
    outline: none;
    box-shadow: none;
  }

  h3 {
    color: var(--dark-blue);
  }

/* Footer Section */

#footer {
  height: 10vh;
  background-color: var(--beige);
}


/* AppMitzvah */

#app-mitzvah {
  min-height: 100vh;
  background-color: black;
}

.app-mitzvah-header {
  font-size: 7rem;
  line-height: 8rem;
  font-family: 'nayuki-regular';
  text-transform: none;
  color: var(--mitzvah-blue);
}

@media screen and (max-width: 768px) {
  .app-mitzvah-header {
    font-size: 4rem; /* Adjust the font size as needed for smaller screens */
    line-height: 5rem; /* Adjust the line height accordingly */
  }
}

.app-mitzvah-subheader {
  font-size: 1.15rem;
  font-weight: 300;
  color: white;
}

#app-mitzvah ul {
  font-size: 1rem;
  font-weight: 300;
  color: var(--mitzvah-blue);
}

#app-mitzvah a {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.app-mitzvah-screenshot {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
