/* Colors */

:root {
  --primary: #5e3bee;
  --heading-color: #282938;
  --bg-shade: #f5fcff;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
}

/* Text */

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75;
}

.smaller-h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/* Navbar Section */

.nav-link-pointer {
  cursor: pointer;
}

/* Hero Section */

#hero-section {
  min-height: 100vh;
  background: var(--bg-shade);
}

.profile-pic {
  max-width:450px;
}

/* My Skills Section */

#my-skills {
  min-height: 100vh;
}

.card {
  min-height: 12rem;
  border: none;
  background: var(--bg-shade);
}

.card:hover {
  border-bottom: 4px solid var(--primary);
}

.card:hover p {
  color: var(--darkblue);
}

/* About Me Section */

#about-me {
  min-height: 100vh;
  background: var(--bg-shade);
}


/* My Projects Section */

#my-projects {
  min-height: 100vh;
}

/* Contact Me Section */

#contact-me {
  min-height: 90vh;
  background: var(--bg-shade);
}

/* Footer Section */

#footer {
  height: 10vh;;
}
